<!--My Info-->
<div class="row">
  <div class="column col-11 col-md-5 m-3 p-3">
    <div class="card" style="max-width: fit-content;">
      <div>
        <img id="portfolioPhoto" class="card-img img-responsive p-3" src="/images/Napa-1.jpg" alt="photo of Laura">
      </div>
    </div>
  </div>
  <div class="column col-11 col-md-5 main-info m-3 p-3">
      <h2 class="">Hello! I am</h2>
      <h1 class="title ">Laura Gupta</h1>
      <p class="main-info">I am a web-developer</p><br>
      <h5 class="main-info"><a href="https://www.linkedin.com/in/laura-gupta-5a277158/" target="_blank">Find me on LinkedIn!</a></h5>
      <h5 class="main-info"><a href="https://github.com/lauragupta" target="_blank">Check out my code on GitHub!</a></h5>
      <br>
      <h5 class="main-info">Contact Me!</h5>
      <h6 class="main-info">codinglauragupta@gmail.com</h6>
      <h6 class="main-info">‪(408)479-4045‬</h6>
      <h6 class="imain-info"><a href="/files/Resume Laura Gupta 2022.pdf" target="_blank">Here is my resume</a></h6>
  </div>
</div>