<!--My Info-->
<div class="row">


    <div class="column col-12 col-md-6 main-info">
        <h2 class="">Hello! I am</h2>
        <h1 class="title ">Laura Gupta</h1>
        <p class="main-info">I am a web-developer</p><br>
        <h5 class="main-info"><a href="https://www.linkedin.com/in/laura-gupta-5a277158/" target="_blank">Find me on LinkedIn!</a></h5>
        <h5 class="main-info"><a href="https://github.com/lauragupta" target="_blank">Check out my code on GitHub!</a></h5>
        <br>
        <h5 class="main-info">Contact Me!</h5>
        <h6 class="main-info">codinglauragupta@gmail.com</h6>
        <h6 class="main-info">‪(408)479-4045‬</h6>
        <h6 class="imain-info"><a href="resume.pdf" target="_blank">Here is my resume</a></h6>
    </div>
</div>